<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "wta.nameit.example"
        versionCode = "1"
        version     = "1.0" >


    <!-- versionCode is optional and Android only -->
    <preference name="DisallowOverscroll" value="true" />


    <!-- start plugin -->
    <!-- <gap:plugin name="cordova-plugin-admob" source="npm" /> -->


    <preference name="permissions" value="none"/>
    <preference name="android-build-tool" value="gradle" />
    <gap:plugin name="cordova-plugin-admobpro" source="npm" />
    <framework src="com.google.android.gms:play-services-ads:+" />

    <!-- end plugin -->

    <!-- test status bar -->
    <plugin name="com.phonegap.plugin.statusbar" spec="1.1.0" source="pgb" />
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#000000"/>
    <preference name="StatusBarStyle" value="lightcontent" />



    <name>Notap</name>

    <description>
        Name it! Tennis Quiz WTA.
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        DesignRoom
    </author>


    <!-- START SPLASH -->
    <!-- iPhone and iPod touch -->
    <splash src="images/splashscreen.png" platform="ios" width="320" height="480" />
    <splash src="images/splashscreen.png" platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <splash src="images/splashscreen.png" platform="ios" width="640" height="1136" />

    <!-- iPhone 6 -->
    <splash src="images/splashscreen.png" platform="ios" width="750" height="1334" />
    <splash src="images/splashscreen.png" platform="ios" width="1242" height="2208" />
    <splash src="images/splashscreen.png" platform="ios" width="2208" height="1242" />

    <!-- iPad -->
    <splash src="images/splashscreen.png" platform="ios" width="768" height="1024" />
    <splash src="images/splashscreen.png" platform="ios" width="1024" height="768" />

    <!-- Retina iPad -->
    <splash src="images/splashscreen.png" platform="ios" width="1536" height="2048" />
    <splash src="images/splashscreen.png" platform="ios" width="2048" height="1536" />


    <!-- ANDROID -->
    <splash src="images/splashscreen.png" platform="android" qualifier="ldpi" />
    <splash src="images/splashscreen.png" platform="android" qualifier="mdpi" />
    <splash src="images/splashscreen.png" platform="android" qualifier="hdpi" />
    <splash src="images/splashscreen.png" platform="android" qualifier="xhdpi" />
    <splash src="images/splashscreen.png" platform="android" qualifier="fr-xhdpi" />
    <splash src="images/splashscreen.png" platform="android" qualifier="port-xxhdpi" />
    <splash src="images/splashscreen.png" platform="android" qualifier="land-xxhdpi" />

    <splash src="images/splashscreen.png" platform="winphone" />

    <splash platform="winphone" width="1152" height="1920" src="images/splashscreen.png" />
    <!-- END SPLASH -->

        <!-- ANDROID ICONS -->
        <icon src="images/android/mipmap-ldpi/ic_launcher.png" platform="android" qualifier="ldpi" />
        <icon src="images/android/mipmap-mdpi/ic_launcher.png" platform="android" qualifier="mdpi" />
        <icon src="images/android/mipmap-hdpi/ic_launcher.png" platform="android" qualifier="hdpi" />
        <icon src="images/android/mipmap-xhdpi/ic_launcher.png" platform="android" qualifier="xhdpi" />
        <icon src="images/android/mipmap-xxhdpi/ic_launcher.png" platform="android" qualifier="xxhdpi" />
        <icon src="images/android/mipmap-xxxhdpi/ic_launcher.png" platform="android" qualifier="fr-xxhdpi" />

        <!-- iPhone 6 / 6+ -->
        <icon src="images/ios/iTunesArtwork.png" platform="ios" width="180" height="180" />

        <!-- iPhone / iPod Touch  -->
        <icon src="images/ios/iTunesArtwork.png" platform="ios" width="60" height="60" />
        <icon src="images/ios/Icon-72.png" platform="ios" width="72" height="72" />


        <icon src="images/ios/Icon-60@2x.png" platform="ios" width="120" height="120" />

        <!-- iPad -->
        <icon src="images/ios/Icon-76.png" platform="ios" width="76" height="76" />
        <icon src="images/ios/Icon-76@2x.png" platform="ios" width="152" height="152" />

        <!-- Settings Icon -->
        <icon src="images/ios/iTunesArtwork.png" platform="ios" width="29" height="29" />
        <icon src="images/ios/iTunesArtwork.png" platform="ios" width="58" height="58" />

        <!-- Spotlight Icon -->
        <icon src="images/ios/iTunesArtwork.png" platform="ios" width="40" height="40" />
        <icon src="images/ios/iTunesArtwork.png" platform="ios" width="80" height="80" />

        <!-- iPhone / iPod Touch -->
        <icon src="images/ios/icon.png" platform="ios" width="57" height="57" />
        <icon src="images/ios/iTunesArtwork.png" platform="ios" width="114" height="114" />

        <!-- iPad -->
        <icon src="images/ios/Icon-72.png" platform="ios" width="72" height="72" />
        <icon src="images/ios/iTunesArtwork.png" platform="ios" width="144" height="144" />

        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="images/ios/iTunesArtwork.png" platform="ios" width="29" height="29" />
        <icon src="images/ios/iTunesArtwork.png" platform="ios" width="58" height="58" />

        <!-- iPad Spotlight and Settings Icon -->
        <icon src="images/ios/iTunesArtwork.png" platform="ios" width="50" height="50" />
        <icon src="images/ios/iTunesArtwork.png" platform="ios" width="100" height="100" />
    </widget>
